In [1]:
import pymysql as py
import pandas as pd

In [2]:
conn = py.connect(user = 'root',host = 'localhost',password = '23032001Rk1@',autocommit = True,database = 'demo')
cur = conn.cursor()
q= 'select * from smartphones'
cur.execute(q)
rows = cur.fetchall()
col = list(map(lambda x:x[0],cur.description))
df = pd.DataFrame(rows,columns = col)
conn.close()

In [3]:
df

,brand_name,model,price,rating,has_5g,has_nfc,has_ir_blaster,processor_brand,num_cores,processor_speed,...,refresh_rate,num_rear_cameras,num_front_cameras,os,primary_camera_rear,primary_camera_front,extended_memory_available,extended_upto,resolution_width,resolution_height
0,oneplus,OnePlus 11 5G,54999,89.0,True,True,False,SNAPDRAGON,8.0,3.20,...,120,3,1.0,android,50.0,16.0,0,,1440,3216
1,oneplus,OnePlus Nord CE 2 Lite 5G,19989,81.0,True,False,False,SNAPDRAGON,8.0,2.20,...,120,3,1.0,android,64.0,16.0,1,1024.0,1080,2412
2,samsung,Samsung Galaxy A14 5G,16499,75.0,True,False,False,exynos,8.0,2.40,...,90,3,1.0,android,50.0,13.0,1,1024.0,1080,2408
3,motorola,Motorola Moto G62 5G,14999,81.0,True,False,False,SNAPDRAGON,8.0,2.20,...,120,3,1.0,android,50.0,16.0,1,1024.0,1080,2400
4,realme,Realme 10 Pro Plus,24999,82.0,True,False,False,dimensity,8.0,2.60,...,120,3,1.0,android,108.0,16.0,0,,1080,2412
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
822,oppo,Oppo Find X6,69990,89.0,True,True,False,SNAPDRAGON,8.0,3.20,...,120,3,1.0,android,50.0,32.0,0,,1080,2400
823,motorola,Motorola Moto Edge S30 Pro,34990,83.0,True,False,False,SNAPDRAGON,8.0,3.00,...,120,3,1.0,android,64.0,16.0,0,,1080,2460
824,honor,Honor X8 5G,14990,75.0,True,False,False,SNAPDRAGON,8.0,2.20,...,60,3,1.0,android,48.0,8.0,1,1024.0,720,1600
825,poco,POCO X4 GT 5G (8GB RAM + 256GB),28990,85.0,True,True,True,dimensity,8.0,2.85,...,144,3,1.0,android,64.0,16.0,0,,1080,2460
826,motorola,Motorola Moto G91 5G,19990,80.0,True,True,False,SNAPDRAGON,8.0,2.20,...,60,3,1.0,android,108.0,32.0,1,1024.0,1080,2400

# pyodbc

In [4]:
import pyodbc as pb

In [5]:
conn = pb.connect('Driver={SQL Server};'
                 'Server=DESKTOP-ARGAQDT\SQLEXPRESS;'
                 'Database=superstor;'
                 'Trusted_Connection=yes;')
cur = conn.cursor()

<>:2: SyntaxWarning: invalid escape sequence '\S'
<>:2: SyntaxWarning: invalid escape sequence '\S'
C:\Users\ADMIN\AppData\Local\Temp\ipykernel_13400\969086361.py:2: SyntaxWarning: invalid escape sequence '\S'
  'Server=DESKTOP-ARGAQDT\SQLEXPRESS;'

In [6]:
cur.execute('select * from HR')
rows = cur.fetchall()
rows = [tuple(i) for i in rows]
col = list(map(lambda x:x[0],cur.description))
df = pd.DataFrame(rows,columns = col)
conn.close()

In [7]:
df

,EmpID,Age,AgeGroup,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,297.0000,18,18-25,True,Travel_Rarely,230,Research & Development,3,3,Ritu,...,3,80,0,0,2,3,0,0,0,0.0
1,302.0000,18,18-25,False,Travel_Rarely,812,Sales,10,3,Ritu,...,1,80,0,0,2,3,0,0,0,0.0
2,458.0000,18,18-25,True,Travel_Frequently,1306,Sales,5,3,Kaushal,...,4,80,0,0,3,3,0,0,0,0.0
3,728.0000,18,18-25,False,Non-Travel,287,Research & Development,5,2,Kaushal,...,4,80,0,0,2,3,0,0,0,0.0
4,829.0000,18,18-25,True,Non-Travel,247,Research & Development,8,1,Kaushal,...,4,80,0,0,0,3,0,0,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1475,412.0000,60,55+,False,Travel_Rarely,422,Research & Development,7,3,Ritu,...,4,80,0,33,5,1,29,8,11,10.0
1476,428.0000,60,55+,False,Travel_Frequently,1499,Sales,28,3,Kaushal,...,4,80,0,22,5,4,18,13,13,11.0
1477,537.0000,60,55+,False,Travel_Rarely,1179,Sales,16,4,Ritu,...,4,80,0,10,1,3,2,2,2,2.0
1478,880.0000,60,55+,False,Travel_Rarely,696,Sales,7,4,Ritu,...,2,80,1,12,3,3,11,7,1,9.0
1479,1210.0000,60,55+,False,Travel_Rarely,370,Research & Development,1,4,Ritu,...,3,80,1,19,2,4,1,0,0,0.0